
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login Or Register</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <!-- Font Awesome -->
        <link
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
    rel="stylesheet"
    />
    <!-- Google Fonts -->
    <link
    href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
    rel="stylesheet"
    />
    <!-- MDB -->

</head>
<body>
    <div class="container p-5">
        <h1 class="text-center mb-5 text-uppercase text-muted">Forgot Password</h1>
        <form action="" method="POST">
          
            <!-- Email input -->
            <div class="form-outline mb-4">
                <label class="form-label" for="emailreset">Email address</label>
              <input type="email" name="emailreset" id="emailreset" class="form-control" />
            </div>
            
            <div class="form-outline mb-4">
                <label class="form-label" for="passreset">New Password</label>
              <input type="password" name="passreset" id="passreset" class="form-control" />
            </div>

            <div class="form-outline mb-4">
                <label class="form-label" for="passresetcon">New Password Confirmed</label>
              <input type="password" name="passresetcon" id="passresetcon" class="form-control" />
            </div>


            <button type="submit" class="btn btn-primary">Confirm</button> 
          
   
            </div>
          </form>
    </div>
</body>
</html>